__pycache__/
.venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.git/
.github/
env/
venv/
build/
dist/
*.egg-info
*.pyc
*.pyo
*.pyd
*.log
*.sqlite
jugadores.db
*.bak
node_modules/
/*.env.venv
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
build/
dist/
.git
.gitignore
.vscode
.pytest_cache
/tests