[tool.ruff]
line-length = 100

[tool.ruff.lint]
select = ["E", "F", "W", "C", "N", "B"]
ignore = ["E501"]

[tool.mypy]
python_version = "3.11"
ignore_missing_imports = true
follow_imports = "silent"
strict_optional = true
